*.aux
*.bbl
*.blg
*.log
*~
Daniela/
MAT08/Trabalho/Codigo-Fonte*
MAT08/Trabalho/Datasets/
MAT08/Trabalho/Exemplos*
MAT08/Trabalho/Link*
MAT08/Trabalho/MSR*
MAT08/material/
MATE08/Trabalho/Codigo-Fonte*
MATE08/Trabalho/Datasets/
MATE08/Trabalho/Exemplos*
MATE08/Trabalho/Link*
MATE08/Trabalho/MSR*
MATE08/material/
Matricula*
